<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ICAI_Directory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <style>
body{
    font-family: Calibri
  }
  h6{
    font-weight:900;
  }
  .informations{
    font-weight:800;
  }
</style>
  </head>
<body>
      <div class="container"  >
        <div class="row ">
          <div class="col-md-12 col-lg-12 col-12 col-sm-12 text-center mb-2 mt-4">
            <h2 class="heading-section" style="text-decoration:underline">Your Submitted Data</h2>

          </div>

        </div>
        <div class="row" style="border:1px #251749 solid">          
            <div class="row p-1 " style="background-color:#251749;color:white;margin-left:0.2px">
              <div class="col-1 col-sm-1 col-lg-1 col-md-1">

              </div>
              <div class="col-11 col-sm-11 col-lg-11 col-md-11">
                <h6>CA.</span>{{fetch_info.member_lastname}} {{fetch_info.member_firstname}} {{fetch_info.member_middlename}}</h6>
              </div>
            </div>   
          <div class="row informations">


          <div class="col-12 col-sm-12 col-lg-2 col-md-2" style="text-align:center">
            <div class="img-card p-1"  >
            {% if fetch_info %}
                    {% if fetch_info.new_photo_base64 %}
                        <img src="data:image/jpeg;base64,{{ fetch_info.new_photo_base64 }}" alt="{{ fetch_info.member_firstname }}" height="130px" width="110px">
                    {% elif fetch_info.photo_base64 %}

                        <img src="data:image/jpeg;base64,{{ fetch_info.photo_base64 }}" alt="{{ fetch_info.member_firstname }}" height="130px" width="110px">
                    {% endif %}
                {% endif %}
            </div>
            </div>
          <div class="col-12 col-sm-12 col-lg-5 col-md-5 " >
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    Mem No
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.membership_number}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    Mem Yr
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.year_of_membership}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    Firm
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.organization}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    P.Add
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.prof_address}}, {{fetch_info.prof_area}}, {{fetch_info.prof_city}} - {{fetch_info.prof_pin_code}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    Ph.No.
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.Phone_number}}
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-5 col-md-5" >
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    DOB
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.DOB}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    DOM
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.DOM}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    Bld Grp
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.blood_group}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    R. Add
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.residential_address}} {{fetch_info.residential_area}} {{fetch_info.residential_city}}-{{fetch_info.residential_pin_code}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-3 col-md-3">
                    Email
                  </div>
                  <div class="col-1 col-sm-1 col-lg-1 col-md-1">
                    <h6 class="card-title">:</h6>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8 col-md-8">
                    {{fetch_info.email_id}}
                  </div>
                </div>
              </div>
            </div>
         
        </div>
        <div>

          <a href="{%url 'Info_App:validate_no' %}" id="edit_info" class="btn btn-light" type="submit"  style="margin-top:30px;padding-left:30px;padding-right:30px;padding-top:10px;padding-bottom:10px;font-size:20px" ><b>Back </b></a>
          <!--<a href="{%url 'Info_App:edit_existing_cainfo' fetch_info.id 647809 fetch_info.membership_number %}" id="edit_info" class="btn " type="submit"  style="margin-top:30px;padding-left:30px;padding-right:30px;padding-top:10px;padding-bottom:10px;font-size:20px;margin-right:25px;background-color:#4272D7;color:white" ><b>Edit </b></a>-->
            <a href="{% url 'Info_App:edit_existing_cainfo' fetch_info.id 647809 fetch_info.membership_number %}" id="edit_info" class="btn" style="margin-top:30px;padding-left:30px;padding-right:30px;padding-top:10px;padding-bottom:10px;font-size:20px;margin-right:25px;background-color:#4272D7;color:white"><b>Edit</b></a>

      </div>

      </div>

  </body>
</html> 





