{% extends 'Info_App/base/base.html' %}

{% block content %}
{% load static %}

<section class="wrapper" id="element">
  <div class="container-fostrap page-layout" >
  {% if all_info %}
   
    <div class="content">
      <div class="container" >
        <div class="row ">                  
      {% for i in all_info %}
       {% if forloop.counter == 1 %}    
          <!--header-->     
              <div class="row divheader ml-3 mr-3 mb-2" style="width:100%;">
                <div class="col-12">                
                  <div class="row " style="background-color:#251749;text-align:left">
                    <div class="col-1">
                      <img src="{%static 'Info_App/images/CA_logo.png'%}" height="40px" width="40px">
                    </div>
                    <div class="col-4 mt-2">       
                      <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;">Members in Service</b>                          
                    </div>
                    <div class="col-5 mt-2 " style="padding-left:80px"> 
                      {%if i.member_lastname == '' %}
                        <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;border-radius:10px">*</b>                          
                      {% else %}
                        <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;border-radius:10px">{{i.member_lastname|slice:"1" }}</b>                          
                      {% endif %}
                    </div>
                    <div class="col-2" style="text-align:right;float-right">
                      <img src="{% static 'Info_App/images/CA_bird_logo.png' %}" height="40px" width="40px">
                    </div>
                  </div>
              </div>
            </div> 
          <!--end header--> 
           
          {% endif %}  


       



            <div class="col-12 "  >
              <div class="card mt-1" style="font-family: Calibri;font-weight:700" >
                <div class="card-read-more ">
                  <div class="row p-2" style="background-color:#251749;margin-left:0px;margin-right:-1px;text-align:left">
                    <div class="col-1 " style="color:white;font-size:16px;">
                      <span><b>{{forloop.counter}}</b></span>
                    </div>
                    <div class="col-11" style="">
                      <span  class="" style="text-transform: uppercase;font-size:16px;">
                        <b style="color:white"><span class="mr-2" style="text-transform: uppercase;font-size:16px;">CA.</span>{{ i.member_lastname }} {{ i.member_firstname }} {{i.member_middlename}}</b>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row pb-2 pt-2 pr-1" >
                  <div class="col-2 ">
                    <div class="img-card"  >
                      {% if i.photo == '' %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO6AKY7TBvygcrXFS5JtwUpPT6mVwRxhP7XQ&usqp=CAU"  >
                      {% else %}
                        <img src="{{i.photo}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-5" >
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3" >
                        <h6 class="card-title" style="font-size:16px;">Mem No</h6>
                      </div>
                      <div class="col-1 ">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <p style="font-size:16px;color:#413F42">{{i.membership_number}}</p>
                      </div>
                    </div>
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3">
                        <h6 class="card-title" style="font-size:16px">Mem Yr</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <p style="font-size:16px;color:#413F42">{{i.year_of_membership}}</p>
                      </div>
                    </div>
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3" >
                        <h6 class="card-title" style="font-size:16px">Firm</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <p style="font-size:16px;color:#413F42">{{i.organization}}</p>
                      </div>
                    </div>
                    {% comment %} <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-2" >
                        <h6 class="card-title" style="font-size:16px">COP</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <p style="font-size:16px">{{i.holding_COP}}</p>
                      </div>
                    </div> {% endcomment %}
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3" >
                        <h6 class="card-title" style="font-size:16px">P.Add</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8 link">
                        <p style="font-size:16px;color:#413F42;text-transform: capitalize">{{i.prof_address }} {{i.prof_area}} {{i.prof_city}}-{{i.prof_pin_code}}</p>
                      </div>
                    </div>
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3" >
                        <h6 class="card-title" style="font-size:16px">Ph.No.</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <b><p style="font-size:16px;color:#413F42">{{i.Phone_number}}</p></b>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">    
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3">
                        <h6 class="card-title" style="font-size:16px">DOB</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <p style="font-size:16px;color:#413F42">{{i.DOB|date:"M d"}}</p>
                      </div>
                    </div>
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3">
                        <h6 class="card-title" style="font-size:16px">DOM</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <p style="font-size:16px;color:#413F42">{{i.DOM|date:'M d'}}</p>
                      </div>
                    </div>
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3">
                        <h6 class="card-title" style="font-size:16px">Bld Gr</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <p style="font-size:16px;color:#413F42">{{i.blood_group}}</p>
                      </div>
                    </div>
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3">
                        <h6 class="card-title" style="font-size:16px">R. Add</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8 link">
                        <p style="font-size:16px;color:#413F42;text-transform: capitalize">{{i.residential_address}} {{i.residential_area}} {{i.residential_city}}-{{i.residential_pin_code}}</p>
                      </div>
                    </div>
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-2 col-sm-3" >
                        <h6 class="card-title" style="font-size:16px">Email</h6>
                      </div>
                      <div class="col-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-9 col-sm-8">
                        <b><p style="font-size:16px;color:#413F42">{{i.email_id}}</p></b>
                      </div>
                    </div>   
                  </div>
                </div>             
              </div>
            </div>
                         
          

            {% comment %} {% if forloop.counter|divisibleby:7 %}  
            <!--footer-->
            <div class="row divFooter ml-3 mr-3 mb-2 mt-3" style="width:100%;">
                <div class="col-xs-12 col-sm-12">
                    <div class="row  p-2" style="background-color:#251749;text-align:left">
                        <div class="col-4">
                            <b class="p-2" style="color:white;text-transform: uppercase;font-size:16px">Nagpur Branch of WIRC of ICAI</b>                          
                        </div>
                        <div class="col-4" style="text-align:center">     
                            <b class="p-2" style="color:#251749;text-transform: uppercase;font-size:16px; border:3px solid white;margin-left:-60px;border-radius:50%;background-color:white">{{ forloop.counter}}</b>                          
                        </div>
                        <div class="col-4" style="text-align:right">
                            <b class="p-2" style="color:white;text-transform: uppercase;font-size:16px;">Member's Directory</b>                          
                        </div>     
                    </div>        
                </div>
            </div>  
            <!--end footer-->
             <!--header-->      
              <div class="row divheader ml-3 mr-3 mb-2 mt-2" style="width:100%;">
                <div class="col-xs-12 col-sm-12">                
                  <div class="row " style="background-color:#251749;text-align:left">
                    <div class="col-2">
                      <img src="{%static 'Info_App/images/CA_logo.png'%}" height="40px" width="40px">
                    </div>
                    <div class="col-4 mt-2">       
                      <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;">Members in Practice</b>                          
                    </div>
                    
                      {%if i.member_lastname == '' %}
                        <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;border-radius:10px">*</b>                          
                      {% else %}
                        <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;border-radius:10px">{{i.member_lastname|slice:"1" }}</b>                          
                      {% endif %}
                    <div class="col-2" style="text-align:right;">
                      <img src="{%static 'Info_App/images/CA_bird_logo.png'%}" height="40px" width="40px">
                    </div>
                  </div>
              </div>
            </div> 
             <!--end header-->  
             
          {% endif %} {% endcomment %}




      <!--footer--> 
      {% if forloop.counter|divisibleby:7 %}     
        
        <div class="row divFooter ml-3 mr-3 mb-2 mt-4" style="width:100%;">
          <div class="col-xs-12 col-sm-12">
              <div class="row  p-2" style="background-color:#251749;text-align:left">
                  <div class="col-4">
                      <b class="p-2" style="color:white;text-transform: uppercase;font-size:16px">Nagpur Branch of WIRC of ICAI</b>                          
                  </div>            
                  <div class="col-2"  style="text-align:right;">    
                      <b class="p-2" style="color:#251749;text-transform: uppercase;font-size:16px; border:3px solid white;;border-radius:50%;background-color:white;margin-right:-42px" ><span class="foot_count"></span></b>                                             
                  </div>
                  <div class="col-2" style="text-align:center;" >                       
                      {% comment %} <b class="p-2" style="color:#251749;text-transform: uppercase;font-size:16px; border:3px solid white;;border-radius:50%;background-color:white;margin-left:-20px" ><span class="foot_count"></span></b>                                              {% endcomment %}
                  </div>
                  <div class="col-4" style="text-align:right" >
                      <b class="p-2"  style="color:white;text-transform: uppercase;font-size:16px;">Member's Directory</b>                          
                  </div>     
              </div>        
          </div>
      </div>
      
  {% endif %}
  {% if forloop.last %} 
    <div class="row divFooter ml-3 mr-3 mb-2 mt-4 " id="last_foot" style="width:100%;">
          <div class="col-xs-12 col-sm-12">
              <div class="row  p-2" style="background-color:#251749;text-align:left">
                  <div class="col-4">
                      <b class="p-2" style="color:white;text-transform: uppercase;font-size:16px">Nagpur Branch of WIRC of ICAI</b>                          
                  </div>            
                  <div class="col-2"  style="text-align:right;">    
                      <b class="p-2" style="color:#251749;text-transform: uppercase;font-size:16px; border:3px solid white;;border-radius:50%;background-color:white;margin-right:-30px" ><span class="foot_count"></span></b>                                             
                  </div>
                  <div class="col-2" style="text-align:center;" >                       
                      {% comment %} <b class="p-2" style="color:#251749;text-transform: uppercase;font-size:16px; border:3px solid white;;border-radius:50%;background-color:white;margin-left:-20px" ><span class="foot_count"></span></b>                                              {% endcomment %}
                  </div>
                  <div class="col-4" style="text-align:right" >
                      <b class="p-2"  style="color:white;text-transform: uppercase;font-size:16px;">Member's Directory</b>                          
                  </div>     
              </div>        
          </div>
      </div>
      {% endif %}
  
    <!--end footer-->  

       <!--header--> 
       {% if forloop.counter|divisibleby:7 %}
               
       <div class="row divheader ml-3 mr-3 mb-2 " style="width:100%;">
         <div class="col-xs-12 col-sm-12">                
           <div class="row " style="background-color:#251749;text-align:left">
             <div class="col-1">
               <img src="{%static 'Info_App/images/CA_logo.png'%}" height="40px" width="40px">
             </div>
             <div class="col-4 mt-2">       
               <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;">Members in Service</b>                          
             </div>
             <div class="col-5 mt-2 " style="padding-left:80px"> 
               {%if i.member_lastname == '' %}
                 <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;border-radius:10px">*</b>                          
               {% else %}
                 <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;border-radius:10px">{{i.member_lastname|slice:"1" }}</b>                          
               {% endif %}
             </div>
             <div class="col-2" style="text-align:right;">
               <img src="{%static 'Info_App/images/CA_bird_logo.png'%}" height="40px" width="40px">
             </div>
           </div>
       </div>
     </div>       
     {% else %}
       <div class="row divheader ml-3 mr-3 mb-2 mt-2" style="width:100%;display: none;">
         <div class="col-xs-12 col-sm-12">                
           <div class="row " style="background-color:#251749;text-align:left">
             <div class="col-1">
               <img src="{%static 'Info_App/images/CA_logo.png'%}" height="40px" width="40px">
             </div>
             <div class="col-4 mt-2">       
               <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;">Members in Service</b>                          
             </div>
             <div class="col-5 mt-2 " style="padding-left:80px"> 
               {%if i.member_lastname == '' %}
                 <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;border-radius:10px">*</b>                          
               {% else %}
                 <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;border-radius:10px">{{i.member_lastname|slice:"1" }}</b>                          
               {% endif %}
             </div>
             <div class="col-2" style="text-align:right;">
               <img src="{%static 'Info_App/images/CA_bird_logo.png'%}" height="40px" width="40px">
             </div>
           </div>
       </div>
     </div> 
      {% endif %}
    <!--end header-->  

{% endfor %}  
          
{% else %}  
    <div class="container">
      <div class="row d-flex justify-content-center pt-4" >
        <div class="card-columns d-flex justify-content-center" >
          <div class="card bg-light">
            <div class="card-body text-center">
              <p class="card-text p-5">No Data Found</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
</div>
</section>

{% endblock content %}