{% include "Info_App/base/form_header.html" %}
{% load static %}

<body>
    <div class="page-wrapper bg-gra-01 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">ICAI Members Detail Form</h2>
                </div>

                <div class="row ">
                  <div class="col-12 mb-2 " style="text-align:center">
                    {%for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>Messages : </strong>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                    {% endfor %}
                  </div>
                </div>

                <div class="card-body">
                  <form action="" id="ca_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                      <div id="form_card" >
                      <hr style="margin-left:200px"><h4 style="margin-top:-10px"><b>Personal Information</b></h4><br>

                      <div class="form-row ">
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-1">
                                  <div class="name">First Name</div>

                                    <div class="input-group-desc">
                                      <input class="input--style-5" type="text" name="member_firstname" id="member_firstname">
                                    </div>
                                </div>
                                <div class="col-1">
                                  <div class="name">Meddle Name</div>
                                    <div class="input-group-desc">
                                        <input class="input--style-5 " type="text"  name="member_middlename" id="member_middlename">
                                      </div>
                                </div>
                                <div class="col-1">
                                  <div class="name">Last Name</div>

                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text"  name="member_lastname" id="member_lastname">
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="form-row">
                      <div class="value">
                          <div class="row row-space">
                            <div class="col-2">
                              <div class="name">Membership Number</div>
                                <div class="input-group-desc">
                                    <input class="input--style-5 " type="number" name="membership_number" id="membership_number" value="{{membership_num}}">
                                  </div>
                            </div>
                              <div class="col-2">
                                <div class="name">Membership Year</div>
                                  <div class="input-group-desc">
                                    <input type="number"  name="year_of_membership" id="year_of_membership"  class="input--style-5" disabled value="{{yr_of_membership}}"/>
                                  </div>
                              </div>     
                          </div>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="value">
                        <div class="row row-space">
                            <div class="col-1">
                              <div class="name">Date Of Birth</div>
                                <div class="input-group-desc">
                                  <input type="date" name="DOB" id="DOB" class="input--style-5" placeholder="{{Birth_date}}" disabled value="{{Birth_date}}"/>
                                </div>
                            </div>
                            <div class="col-1">
                              <div class="name">Date Of Marriage</div>
                                <div class="input-group-desc">
                                  <input class="input--style-5 " type="date"  name="DOM" id="DOM"  placeholder="DD-MM-YYYY" >
                                </div>
                            </div>
                            <div class="col-1">
                              <div class="name">Blood Group</div>

                                <div class="input-group-desc">
                                  <div class="rs-select2 js-select-simple select--no-search">
                                      <select name="blood_group" id="blood_group" >
                                        <option style="text-align:left" value="A+" selected>A+</option>
                                        <option style="text-align:left" value="A-">A-</option>
                                        <option style="text-align:left" value="B+">B+</option>
                                        <option style="text-align:left" value="B-">B-</option>
                                        <option style="text-align:left" value="O+">O+</option>
                                        <option style="text-align:left" value="O-">O-</option>
                                        <option style="text-align:left" value="AB+">AB+</option>
                                        <option style="text-align:left" value="AB-">AB-</option>
                                      </select>
                                      <div class="select-dropdown"></div>
                                  </div>   
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                  <div class="form-row">
                            <div class="value">
                              <div class="name">Residential Address</div>
                              <div class="input-group">
                                <input class="input--style-5" type="text" name="residential_address" id="residential_address" value="">
                              </div>
                            </div>
                    </div>
                    <div class="form-row">
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-1">
                                      <div class="name">Area</div>

                                        <div class="input-group-desc">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                              <input type="text" name="residential_area" id="residential_area" class="input--style-5"/>
                                              <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                      <div class="name">City</div>
                                        <div class="input-group-desc">
                                          <input class="input--style-5" type="text"  name="residential_city" id="residential_city">
                                        </div>
                                    </div>
                                    <div class="col-1">
                                      <div class="name">Zip Code</div>
                                        <div class="input-group-desc">
                                          <input class="input--style-5" type="number" name="residential_pin_code" id="residential_pin_code">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-row ">
                          <div class="value">
                              <div class="row row-space">
                                <div class="col-2">
                                  <div class="name">Do You Hold A Certificate Of Practice?</div> 
                                    <div class="input-group-desc">
                                      <div class="input-group-desc">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <select id="holding_COP" name="holding_COP"  >
                                              <option style="text-align:left"  value="Yes">Yes</option>
                                              <option style="text-align:left" value="No">No</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>   
                                      </div>                     
                                    </div>
                                </div>
                                  <div class="col-2">
                                    <div class="name">Photo</div>
    
                                      <div class="input-group-desc">
                                        <input type="file" name="photo" id="photo" class="input--style-5" style="font-size:14px;" accept=".png, .jpg, .jpeg"/>
                                      </div>
                                  </div>     
                              </div>
                          </div>
                      </div>
                      <hr style="margin-left:200px"><h4 style="margin-top:-10px"><b>Professional Information</b></h4><br>
                      <div class="form-row">
                        <div class="value">
                          <div class="name">Organization Name</div>
                          <div class="input-group">
                            <input type="text" name="organization" id="organization" class="input--style-5" />
                          </div>
                        </div>
                       </div>
                      <div class="form-row">
                        <div class="value">
                            <div class="row row-space">
                              <div class="col-2">
                                <div class="name">Email ID</div>
                                  <div class="input-group-desc">
                                    <input type="email" name="email_id" id="email_id" class="input--style-5" />
                                  </div>
                              </div>
                                <div class="col-2">
                                  <div class="name">Phone Number</div>
                                    <div class="input-group-desc">
                                      <input type="number"   name="Phone_number" id="Phone_number" class="input--style-5" />
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>    
                    <div class="form-row">
                      <div class="value">
                        <div class="name">Professional Address</div>
                          <div class="input-group">
                            <input type="text" name="prof_address" id="prof_address" class="input--style-5"/>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                              <div class="value">
                                  <div class="row row-space">
                                      <div class="col-1">
                                        <div class="name">Area</div>
                                          <div class="input-group-desc">
                                            <input type="text" name="prof_area" id="prof_area" class="input--style-5" />
                                          </div>
                                      </div>
                                      <div class="col-1">
                                        <div class="name">City</div>
                                          <div class="input-group-desc">
                                            <input type="text" name="prof_city" id="prof_city" class="input--style-5" />
                                          </div>
                                      </div>
                                      <div class="col-1">
                                        <div class="name">Zip Code</div>
                                          <div class="input-group-desc">
                                            <input type="number" name="prof_pin_code" id="prof_pin_code" class="input--style-5" />
                                          </div>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                        <div>
                            <button id="view_details" class="btn btn--radius-2 btn--blue" type="button">View Detail</button>
                        </div>
                      </div>
                       <!--start preview card -->
          <div  id="prev_card" style="display:none">
           
             
              <div class="card mt-1" style="font-family: Calibri;font-weight:700" >
                  <div class="row p-2" style="background-color:#251749;margin-left:0px;margin-right:-1px;text-align:left">
                    <div class="col" >
                      <span  style="text-transform: uppercase;font-size:16px;">
                        <b style="color:white"><span class="mr-2" style="text-transform: uppercase;font-size:16px;">CA.</span><span id="mem_fullname"></span></b>
                      </span>
                    </div>
                  </div>
                <div class="row pb-2 pt-2 pr-1" >
                  <div class="col-lg-2 col-sm-12 col-md-12">
                    <div class="img-card"  >
                        <img src="" id="imgshow" height="130px" width="110px" style="margin-left:20px">
                    </div>
                  </div>
                  <div class="col-lg-5 col-sm-12 col-md-12" >
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5" >
                        <h6 class="card-title" style="font-size:16px;">Mem No</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1 ">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <p style="font-size:16px;color:#413F42" id="prev_mem_num"></p>
                      </div>
                    </div>
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5">
                        <h6 class="card-title" style="font-size:16px" id="">Mem Yr</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <p style="font-size:16px;color:#413F42" id="prev_membership_yr"></p>
                      </div>
                    </div>
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5" >
                        <h6 class="card-title" style="font-size:16px" >Firm</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <p style="font-size:16px;color:#413F42" id="prev_organization"></p>
                      </div>
                    </div>
                   
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5" >
                        <h6 class="card-title" style="font-size:16px">P.Add</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <p style="font-size:16px;color:#413F42" id="prev_prof_add"></p>
                      </div>
                    </div>
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5" >
                        <h6 class="card-title" style="font-size:16px">Ph.No.</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <b><p style="font-size:16px;color:#413F42" id="prev_Phone_num"></p></b>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-sm-12 col-md-12">    
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5">
                        <h6 class="card-title" style="font-size:16px">DOB</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <p style="font-size:16px;color:#413F42" id="prev_DOB"></p>
                      </div>
                    </div>
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5">
                        <h6 class="card-title" style="font-size:16px">DOM</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <p style="font-size:16px;color:#413F42" id="prev_DOM"></p>
                      </div>
                    </div>
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5">
                        <h6 class="card-title" style="font-size:16px">Bld Gr</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <p style="font-size:16px;color:#413F42" id="prev_bd_group"></p>
                      </div>
                    </div>
                    <div class="row" style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5">
                        <h6 class="card-title" style="font-size:16px">R. Add</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <p style="font-size:16px;color:#413F42" id="prev_res_add"></p>
                      </div>
                    </div>
                    <div class="row"  style="text-align:left;margin-bottom:-15px">
                      <div class="col-lg-3 col-sm-5 col-md-5" >
                        <h6 class="card-title" style="font-size:16px">Email</h6>
                      </div>
                      <div class="col-lg-1 col-sm-1 col-md-1">
                        <h6 class="card-title" style="font-size:16px">:</h6>
                      </div>
                      <div class="col-lg-8 col-sm-6 col-md-6">
                        <b><p style="font-size:16px;color:#413F42" id="prev_email_id"></p></b>
                      </div>
                    </div>   
                  </div>
                </div>             
              </div>
            


              <!-- Submit Button  -->
              <div class="form-group row text-right mt-4" style="float:right">
                <div class="col">
                  {% comment %} <button class="btn btn-light btn-customized" id="back_btn" type="button">Back</button> {% endcomment %}
                  <button class="btn btn--radius-2 btn--blue"  id="submit_form" type="submit"><b>Submit Info</b></button>
                </div>
              </div>   
            </div>
          <!--end  preview card -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'Info_App/form_vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'Info_App/form_vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'Info_App/form_vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'Info_App/form_vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'Info_App/form_js/global.js' %}"></script>



<script>
  $( document ).ready(function() {
        let member_number=$('#membership_number').val();
        let result = member_number.toString().padStart(6, '0')
        $("input#membership_number").val(result);
    
    
    
    //image pass to preview card
        $("#photo").change(function () {
          if (this.files && this.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  $('#imgshow').attr('src', e.target.result);
              }
              reader.readAsDataURL(this.files[0]);
          }
      });  
    
    
    
    
      
      //view Partners Detail button click function
    $("#view_details").click(function(){  
        var member_firstname=$('#member_firstname').val();
        var member_middlename=$('#member_middlename').val();
        var member_lastname=$('#member_lastname').val();
        var organization=$('#organization').val();
        var year_of_membership=$('#year_of_membership').val();
        var membership_number=$('#membership_number').val();
        var prof_address=$('#prof_address').val();
        var prof_area=$('#prof_area').val();
        var prof_city=$('#prof_city').val();
        var prof_pin_code=$('#prof_pin_code').val();
        var DOB=$('#DOB').val();
        var DOM=$('#DOM').val();
        var blood_group=$('#blood_group').val();
        var residential_address=$('#residential_address').val();
        var residential_area=$('#residential_area').val();
        var residential_city=$('#residential_city').val();
        var residential_pin_code=$('#residential_pin_code').val();
        var email_id=$('#email_id').val();
        var Phone_number=$('#Phone_number').val();
        var holding_COP=$('#holding_COP').val();


        if (member_firstname == ''|| member_middlename == '' || member_lastname == '' || organization == ''|| membership_number == ''|| year_of_membership == ''|| prof_address == ''
                    || prof_area == ''|| prof_city == ''|| prof_pin_code == ''|| DOB == ''|| blood_group == '' || residential_address=='' || residential_area==''
                    || residential_city == ''|| residential_pin_code == ''|| email_id == ''|| Phone_number == ''|| holding_COP == ''|| photo == '') {
                        alert("Please fill all fields")
                      }else if(isNaN(Phone_number)){
                        alert("insert a number");
                    }else if((Phone_number.charAt(0)!=9) && (Phone_number.charAt(0)!=8) && (Phone_number.charAt(0)!=7)){
                        alert('Mobile number must start with 9 ,8 ,7 or 6');
                    }else if(Phone_number.length!==10){
                        alert('Please put 10  digit mobile number');
                    }else if(prof_pin_code.length!=6 || residential_pin_code.length!=6){
                      alert('Please Enter 6 digit pin code');
                    }else if (DOM != '' && DOB > DOM){       
                        alert('Please check your date fields ');    
                    }else{
                          $("#prev_card").show();
                          $("#form_card").hide();
                          $("#form_p").hide();
                          var mem_firstname=$("#member_firstname").val()
                          var mem_lastname=$("#member_lastname").val()
                          var mem_middlename=$("#member_middlename").val()
                          $("#mem_fullname").html(mem_lastname + " "+ mem_firstname +" "+ mem_middlename)
    
                          var prev_mem_num=$("#membership_number").val()
                          $("#prev_mem_num").html(prev_mem_num)
                          
                          var prev_organization=$('#organization').val();
                          $("#prev_organization").html(prev_organization)
    
                          var prev_membership_yr=$('#year_of_membership').val();
                          $("#prev_membership_yr").html(prev_membership_yr)
    
                          var prev_prof_add=$('#prof_address').val();
                          var prev_prof_area=$('#prof_area').val();
                          var prev_prof_city=$('#prof_city').val();
                          var prev_prof_pin=$('#prof_pin_code').val();
                          $("#prev_prof_add").html(prev_prof_add +" "+prev_prof_area+" "+prev_prof_city+" "+prev_prof_pin)
    
                          var prev_DOB=$('#DOB').val();
                          $("#prev_DOB").html(prev_DOB)
    
                          var prev_DOM=$('#DOM').val();
                          $("#prev_DOM").html(prev_DOM)
    
                          var prev_bd_group=$('#blood_group').val();
                          $("#prev_bd_group").html(prev_bd_group)
    
                          var prev_res_add=$('#residential_address').val();
                          var prev_res_area=$('#residential_area').val();
                          var prev_res_city=$('#residential_city').val();
                          var prev_res_pin=$('#residential_pin_code').val();
                          $("#prev_res_add").html(prev_res_add+" "+prev_res_area+" "+prev_res_city+" "+prev_res_pin)
                          
                          var prev_email_id=$('#email_id').val();
                          $("#prev_email_id").html(prev_email_id)
    
                          var prev_Phone_num=$('#Phone_number').val();
                          $("#prev_Phone_num").html(prev_Phone_num)
    
                          var prev_hol_COP=$('#holding_COP').val();
                          $("#prev_hol_COP").html(prev_hol_COP)
    
                          var prev_photo=$('#photo').val();
                          $("#prev_photo").html(prev_photo)
                    }
      });    
    
    
        //<!--submit form using ajax-->
          $(document).on('submit','#ca_form',function(e){
                    e.preventDefault();
                    var member_firstname=$('#member_firstname').val();
                    var member_middlename=$('#member_middlename').val();
                    var member_lastname=$('#member_lastname').val();
                    var organization=$('#organization').val();
                    var year_of_membership=$('#year_of_membership').val();
                    var membership_number=$('#membership_number').val();
                    var prof_address=$('#prof_address').val();
                    var prof_area=$('#prof_area').val();
                    var prof_city=$('#prof_city').val();
                    var prof_pin_code=$('#prof_pin_code').val();
                    var DOB=$('#DOB').val();
                    var DOM=$('#DOM').val();
                    var blood_group=$('#blood_group').val();
                    var residential_address=$('#residential_address').val();
                    var residential_area=$('#residential_area').val();
                    var residential_city=$('#residential_city').val();
                    var residential_pin_code=$('#residential_pin_code').val();
                    var email_id=$('#email_id').val();
                    var Phone_number=$('#Phone_number').val();
                    var holding_COP=$('#holding_COP').val();
                    var photo=$('#photo').val();

                    var csrftoken = Cookies.get('csrftoken');
                    var formData = new FormData();
                    formData.append('csrfmiddlewaretoken', csrftoken);
                    formData.append('member_firstname', $('#member_firstname').val());
                    formData.append('member_middlename', $('#member_middlename').val());
                    formData.append('member_lastname', $('#member_lastname').val());
                    formData.append('organization', $('#organization').val());
                    formData.append('membership_number', $('#membership_number').val());
                    formData.append('year_of_membership', $('#year_of_membership').val());
                    formData.append('prof_address', $('#prof_address').val());
                    formData.append('prof_area', $('#prof_area').val());
                    formData.append('prof_city', $('#prof_city').val());
                    formData.append('prof_pin_code', $('#prof_pin_code').val());
                    formData.append('DOB', $('#DOB').val());
                    formData.append('DOM', $('#DOM').val());
                    formData.append('blood_group', $('#blood_group').val());
                    formData.append('residential_address', $('#residential_address').val());
                    formData.append('residential_area', $('#residential_area').val());
                    formData.append('residential_city', $('#residential_city').val());
                    formData.append('residential_pin_code', $('#residential_pin_code').val());
                    formData.append('email_id', $('#email_id').val());
                    formData.append('Phone_number', $('#Phone_number').val());
                    formData.append('holding_COP', $('#holding_COP').val());
                    formData.append('photo', $('#photo')[0].files[0]);

                    $.ajax({
                            url: '{% url "Info_App:submit_cainfo" %}',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                alert('Form submitted successfully');
                                document.getElementById("ca_form").reset();
                                $("#ca_form").show();
                                $("#preview_info").hide();
                                window.location.href = "http://127.0.0.1:8000/";
                            },
                            error: function(xhr, status, error) {
                                alert("Error submitting form: " + error);
                            }
                          });
              });

      }); /*end ready function*/



    </script>
    

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->


</html>
<!-- end document-->