{% include "Info_App/base/form_header.html" %}
{% load static %}

<body>
    <div class="page-wrapper bg-gra-01 p-t-45 p-b-50">
        <div class="wrapper wrapper--w680">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">ICAI Members Detail Form</h2>
                </div>

                <div class="row ">
                  <div class="col-12 mb-2 " style="text-align:center">
                    {%for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>Messages : </strong>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                    {% endfor %}
                  </div>
                    <p id="message"></p>
                </div>

                <div class="card-body">
                    <form action="{% url 'Info_App:validate_no' %}" method="POST" autocomplete="off">{% csrf_token %}
                        <div class="form-row">
                            <div class="value">
                              <div class="name">Membership Number</div>
                              <div class="input-group">
                                    <input class="input--style-5" type="number" id  = "membershipNumber" name="membership_num" value="">
                                  </div>
                            </div>
                        </div>
                    <div class="form-row m-b-55">
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                      <div class="name">Membership Year</div>

                                        <div class="input-group-desc">
                                            <div class="rs-select2 js-select-simple select--no-search">
                                              <select name="yr_of_membership" id="yr_of_membership" >

                                                    {% for year in year_list %}
                                                      <option style="text-align:left" value="{{ year }}">{{ year }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                      <div class="name">Date Of Birth</div>

                                        <div class="input-group">
                                            <input class="input--style-5" type="date"  id="Birth_date" name="Birth_date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                     
                        
                        
                        <div>
                            <button id="submit_no"  class="btn btn--radius-2 btn--blue" type="submit" onclick="checkInputLength()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Jquery JS-->
    <script src="{% static 'Info_App/form_vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'Info_App/form_vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'Info_App/form_vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'Info_App/form_vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'Info_App/form_js/global.js' %}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
