<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nagpur Branch Directory</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'Info_App/index.css' %} ">


    {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
     {% comment %} <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>  {% endcomment %}
</head>
<body>

{% comment %} <header>
  <div class="row divheader" style="width:82%;margin-left:120px;">
    <div class="col-xs-12 col-sm-12">                
      <div class="row " style="background-color:#251749;text-align:left">
        <div class="col-2">
          <img src="{%static 'Info_App/images/CA_logo.png'%}" height="40px" width="40px">
        </div>
        <div class="col-4 mt-3">       
          <b class="p-2" style="color:white;text-transform: uppercase; border:3px solid white;font-size:16px;">Members in Practice</b>                          
        </div>
        <div class="col-4 pt-2">
          <b class="p-1" style="color:white;text-transform: uppercase; border:3px solid white;font-size:20px;border-radius:10px">A</b>                          
        </div>
        <div class="col-2" style="text-align:right;">
          <img src="{%static 'Info_App/images/CA_bird_logo.png'%}" height="40px" width="40px">
        </div>
      </div>
  </div>
</div> 
</header>  {% endcomment %}





