@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
  margin-left:20px
}

 
.wrapper {
  display: table; 
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  text-align: center;
  padding-top:10px
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
.card {
    display: block; 
    line-height: 1;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:100%;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 90px;
  height: 110px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 11px;
}
.card-read-more {
  border-bottom: 1px solid #D4D4D4;
}
.card-read-more span{
  text-decoration: none !important;
  font-weight:600;
  text-transform: uppercase;
  font-size:13px
}   
.link {
  text-transform: lowercase;
}
.link:first-letter,
.link:first-line {
  text-transform: capitalize;
}


@page {
  size: A4;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2;
  margin-bottom: 0;
}

/* print header-footer css */
@media screen {
  div.divheader {
    display: none;
  }

  div.divFooter {
    display: none;
  }
}
@media print {
  div.divheader {
    page-break-before: always;
    page-break-before: always;
    }
    div.divfooter {
      page-break-after: always;
    }
    div.card {
      max-height: 100%;
      overflow: hidden;
      page-break-inside: avoid;
    }
  
}
/* page counter */
.foot_count::before {
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter);
  /* content: "Page " counter(my-sec-counter);} */
}

